### VirtualEnv ###
.Python
pyvenv.cfg
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-selfcheck.json

### VisualStudioCode ###
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history


### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

k-means/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
k-means/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
k-means/.classpath
k-means/.project
k-means/.settings/org.eclipse.jdt.apt.core.prefs
k-means/.settings/org.eclipse.jdt.core.prefs
k-means/.settings/org.eclipse.m2e.core.prefs
scripts/lib/*
scripts/bin/*
scripts/include/*